1.In the below elements which of them are values or an expression?eg:-values can be integer or string and expressions will be mathematical operators.
* ,'hello',-87.8,-,/,+,6

Ans: There are a total of 4 operators and 3 Expressions, they are

operators: *,-,/,+

Exoressuibs:'hello',87.8,6

2.What is teh difference between string and variable?

Ans. A variable is used to strore of informatin, and a string is a type of information you would store in a Variable. A stringis a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '

3.Describe three different Data Types?

Ans. Three fundamental Data types in pyton are int, float, complex.

1. int data type. We can use int data type to represent whole number (integral values)

2. float data type: We can use float data type to represent floation point value (decemial values)

3. complex data type: Complex number is represented by complex class. It is specified as (real part) + (Imaginary part).

In [2]:
# Example for int data type
int_num=465
print(int_num,type(int_num))
# Example for float data type
flo_num=1.2e3
print(flo_num,type(flo_num))
# Example for complex data type
com_num=10+1.5j
print(com_num,type(com_num))

465 <class 'int'>
1200.0 <class 'float'>
(10+1.5j) <class 'complex'>

4. What is an expression made up of? What do all expressions do?

Ans: An expression is a combination of values, variables, operators and calls to functions. Expressions need to be evaluated. If we ask Python to print an expressin, the interpreter evaluates the expressions and displays the result.

In [3]:
4*5+20-40 # is an expression, The Python Interpreter Evaluates it to 0

0

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans. An expression is a combination of values, variables, and operators. When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

eg:4*5+20-40 is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value. When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statments don't have values.

eg: variable declaration and assignment are statements because they do not return a value

In [4]:
# Example:
4*5+20-40 # Is a Expression
courseName = 'INeuron FullStack DataScience' # Is a Statement
print("Hello World !") # Is a Expression Statement

Hello World !

6. After running the following code what does the variable bacon contain?

bacon = 22

bacon+1

Ans: The variable bacon is set to 22. The expression bacon + 1 does not reassign the value in bacon (that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [6]:
# Example Case#1
bacon=22
bacon+1
print(bacon)

22

In [7]:
# Example Case#2
bacon=22
bacon=bacon+1
print(bacon)

23

7.What should the values of the following two terms be?

'spam'+'spamspam'

'spam'*3

Ans: Both expressions evaluate to the string 'spamspanspam' Where as the first expression follows String Concatentation and the second expression follow String Multiplication

In [8]:
print('spam'+'spamspam') #string concatenation
print('spam'*3) #string multiplication

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Ans: As per python,Varialbe names cannot begin with number. The python rules for naming a variable are:-

1. variable name must start with letter or the underscore character.

2. variable name cannot start with a number.

3. variable name can only contain alpha-numeric characters and uderscores(A-z,0-9,&_).

4. variable are case-sensitive(name,INEURON and ineuron are three different variable).

5. The reserved words(keywords) cannot be used naming the variable.

In [10]:
egg='Ineuron' # valid variable Initilization

print(egg)#prints the value of egg ie Ineuron

Ineuron

In [11]:
100='hello' # invalid variable initilization
print(100)# Raise  a syntax error as 100 is not a valid variable name

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2665665009.py, line 1)

9. What three functions can be used to get the integer,floating-point number, or string version of a value?

Ans.The int(), float(), and str() functions will evaluate to the integer, floation-point, string version of the value passed to them .

In [13]:
#examples

print('int(10.0) ->',int(10.0)) # int() function converts given input to int
print('float(10) ->',float(10)) # float() function converts given input to float
print('str(10) ->',str(10)) #str () function converts given input to string

int(10.0) -> 10
float(10) -> 10.0
str(10) -> 10

10. Why does this expression cause an error? How can you fix it?

'I have eaten' + 99 + 'burritos.'

In [15]:
#Ans

print('I have eaten' + 99 + 'burritos.')

TypeError: can only concatenate str (not "int") to str

this cause of errors is 99. because is not a string. 99 must be typecased to a string to fix . the correct way is :
    
input:' I have eaten' + str(99) + 'burritos.'

output:'I have eaten 99 burritos.'

In [19]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.